@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
body {
  background-color: hsl(212, 45%, 89%);
  margin: 0;
}

.Middle-Box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  background-color: white;
  text-align: center;
  border-radius: 15px;
  font-family: "Outfit", sans-serif;
  padding: 1%;
}

.QR {
  border-radius: 15px;
  position: relative;
  max-width: 325px;
  margin-bottom: 0;
}
h2 {
  position: relative;
  margin-left: 0;
  top: 0;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}
p {
  margin-left: 5%;
  margin-right: 5%;
  color: hsl(212, 45%, 89%);
  font-size: 15px;
  font-weight: 400;
}
